* {
    margin: 0;
    padding: 0;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: .9rem; */
}

svg {
    margin: 0 auto 10px;
    display: block;
    background-color: grey;
    width: 100%;
}

.curr {
    fill: red;
}

.edge {
    fill: green;
}

.middle {
    fill: blue;
}

rect {
    fill: white;
    stroke: black;
    /* transition-duration: .2s; */
    /* transition-timing-function: cubic-bezier(0,1.58,1,-1.37); */
}

rect.start {
    fill: green;
}

rect.end {
    fill: red;
}

rect.wall {
    fill: #0c3547;
}

rect.path {
    fill: #fffe6a;
}

rect.visited {
    fill: #c572ff;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}