* {
    margin: 0;
    padding: 0;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: .9rem; */
}

body{
    position: relative;
    width: 100%;
    min-width: 1140px;
}

svg {
    margin: 0 auto 10px;
    display: block;
    background-color: grey;
    width: 100%;
}

.curr {
    fill: red;
}

.edge {
    fill: green;
}

.middle {
    fill: blue;
}

rect {
    fill: white;
    stroke: black;
}

rect.wall {
    fill: #0c3547;
    /* animation-name: stateChange; */
    /* animation-duration: 0.3s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running; */
}

rect.weight {
    fill: url(#gradient);
}

rect.path {
    fill: #fffe6a;
}

rect.visited {
    fill: #c572ff;
}

rect.path.weight {
    fill: url(#gradient_path);
}

rect.visited.weight {
    fill: url(#gradient_visited);
}

rect.start, rect.path.weight.start {
    fill: green;
}

rect.end, rect.visited.weight.end {
    fill: red;
}

rect.draggable {
    fill: rgba(255, 255, 255, 0);
}