.sized-icon {
    width: 35px;
    height: 35px;
}

hr {
    margin: 5px 0;
    background-color: grey;
}

input#dimension, input#delay {
    width: 95%;
    height: 15px;
}

button#launch, button#apply {
    width: fit-content;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.fs-sm {
    font-size: .9rem;
}