* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-width: 1140px;
}

.night_mode {
    background-color: #1e1e1e;
    color: white;
}

div.wall {
    background: #0c3547;
}

div.weight {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10%, black 10%, black 20%);
}

div.path {
    background: #fffe6a;
}

div.visited {
    background: #c572ff;
}

div.path.weight {
    background-image: repeating-linear-gradient(-45deg, #fffe6a, #fffe6a 10%, black 10%, black 20%);
}

div.visited.weight {
    background-image: repeating-linear-gradient(-45deg, #c572ff, #c572ff 10%, black 10%, black 20%);
}

div.start, div.path.weight.start, div.visited.weight.start {
    background: #54ff34;
}

div.end, div.path.weight.end, div.visited.weight.end {
    background: #ff367a;
}